@import url('https://fonts.googleapis.com/css?family=Anton&display=swap'); /*Anton*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); /*Proxima Nova*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); /*Lato*/
/*We shouldn't need Anton, because we already have the titles on the main website page*/

:root {
    --vWid: 700px;
    --lWidth: 200px;
    --mar: 10px;
    --height: 300px; /*Default height -> will need to change depending on the visualization*/
}

.vis {
    float: left;
    overflow: visible;
    clear:left;
    position:relative;
    display:inline-block;
    margin-left:0;
}

.visNoLegend {
    width: calc(var(--vWid)+var(--lWidth));
    float: none;
    position:relative;
    display:block;
}

.legend {
    width: var(--lWidth);
    height: 200px;
    float: left;
    position:relative;
    display:inline-block;
    white-space:nowrap;
}

.visSVG {
    margin: var(--mar);
    margin-right: 0px;
    overflow: visible;
    width: calc(var(--vWid) - var(--mar));
}

.vis1SVG {
  overflow-x: visible;
  white-space:nowrap;
}

.legendSVG {
    margin: var(--mar);
    width: calc(var(--lWidth) - 2*var(--mar));
    height: inherit;
}

.axis-label { /* For the axis titles */
    font-size: 16px;
    font-family: 'Open Sans', 'sans-serif';
    text-anchor: middle;
    fill: black;
}

.graphTicks { /* For the graph numbers + province names */
    font-size: 14px;
    font-family: 'Lato', 'sans-serif';
}

.legend { /*For the legend titles*/
    font-size: 16px;
    font-family: 'Lato', 'sans-serif';
    z-index:-1;
}


h1 {
  position:relative;
  font-size:30px;
  margin-top:var(--mar);
  margin-bottom:0;
  margin-left:var(--mar);
  color:#260a5a;
  font-family:'Lato', 'sans-serif';
}

h2 {
  position:relative;
  font-size:15px;
  margin-top:5px;
  margin-bottom:var(--mar);
  margin-left:var(--mar);
  color:#734bc4;
  font-family:'Lato', 'sans-serif';
}

h3 {
  position:relative;
  font-size:20px;
  margin-top:var(--mar);
  margin-bottom:var(--mar);
  margin-left:var(--mar);
  color:#260B5B;
  font-family:'Lato', 'sans-serif';
}

.tooltip {
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    font-family: 'Lato', 'sans-serif';
    font-size: 14px;
    z-index:100000;
}
g {
  overflow:visible;
}
text {
  font-size:10pt;
  font-family:'Lato','sans-serif';
}

.separateLine {
    stroke: lightgrey;
    width: 1px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-cases {
    font-weight: normal;
}
